In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\prana\\Documents\\PRANAV'S ML\\solar\\PV_Live Historical Results.csv")

In [3]:
df.head()

,datetime_gmt,generation_mw,lcl_mw,ucl_mw,installedcapacity_mwp,capacity_mwp
0,2024-04-18T15:30:00Z,3508.04,3380.27,3635.81,16445.201,15430.445
1,2024-04-18T15:00:00Z,4253.15,4117.64,4388.65,16445.201,15430.445
2,2024-04-18T14:30:00Z,4993.39,4847.18,5139.59,16445.201,15430.446
3,2024-04-18T14:00:00Z,5664.35,5508.08,5820.61,16445.201,15430.446
4,2024-04-18T13:30:00Z,6227.09,6061.42,6392.76,16445.201,15430.446

In [4]:
df['datetime_gmt'] = pd.to_datetime(df['datetime_gmt'])

In [5]:
print(df['datetime_gmt'])

0       2024-04-18 15:30:00+00:00
1       2024-04-18 15:00:00+00:00
2       2024-04-18 14:30:00+00:00
3       2024-04-18 14:00:00+00:00
4       2024-04-18 13:30:00+00:00
                   ...
17547   2023-04-19 02:00:00+00:00
17548   2023-04-19 01:30:00+00:00
17549   2023-04-19 01:00:00+00:00
17550   2023-04-19 00:30:00+00:00
17551   2023-04-19 00:00:00+00:00
Name: datetime_gmt, Length: 17552, dtype: datetime64[ns, UTC]

In [6]:
#df['date'] = df['datetime_gmt'].dt.date
df['time'] = df['datetime_gmt'].dt.time

In [7]:
#df['date']

In [8]:
df['date'] = df['datetime_gmt'].dt.strftime('%Y%m%d')

In [9]:
df["date"]

0        20240418
1        20240418
2        20240418
3        20240418
4        20240418
           ...
17547    20230419
17548    20230419
17549    20230419
17550    20230419
17551    20230419
Name: date, Length: 17552, dtype: object

In [10]:
df['time'] = df['datetime_gmt'].dt.strftime('%H%M%S')

In [11]:
df['time']

0        153000
1        150000
2        143000
3        140000
4        133000
          ...
17547    020000
17548    013000
17549    010000
17550    003000
17551    000000
Name: time, Length: 17552, dtype: object

In [12]:
df.head()

,datetime_gmt,generation_mw,lcl_mw,ucl_mw,installedcapacity_mwp,capacity_mwp,time,date
0,2024-04-18 15:30:00+00:00,3508.04,3380.27,3635.81,16445.201,15430.445,153000,20240418
1,2024-04-18 15:00:00+00:00,4253.15,4117.64,4388.65,16445.201,15430.445,150000,20240418
2,2024-04-18 14:30:00+00:00,4993.39,4847.18,5139.59,16445.201,15430.446,143000,20240418
3,2024-04-18 14:00:00+00:00,5664.35,5508.08,5820.61,16445.201,15430.446,140000,20240418
4,2024-04-18 13:30:00+00:00,6227.09,6061.42,6392.76,16445.201,15430.446,133000,20240418

In [13]:
df = df.drop(["datetime_gmt"],axis=1)

In [14]:
df.head()

,generation_mw,lcl_mw,ucl_mw,installedcapacity_mwp,capacity_mwp,time,date
0,3508.04,3380.27,3635.81,16445.201,15430.445,153000,20240418
1,4253.15,4117.64,4388.65,16445.201,15430.445,150000,20240418
2,4993.39,4847.18,5139.59,16445.201,15430.446,143000,20240418
3,5664.35,5508.08,5820.61,16445.201,15430.446,140000,20240418
4,6227.09,6061.42,6392.76,16445.201,15430.446,133000,20240418

In [15]:
# Assuming df is your DataFrame with the 'date' and 'time' columns added

# Specify the file path where you want to save the Excel file
file_path = 'PV_Live_new.csv'  # Replace 'path_to_your_file.xlsx' with your desired file path

# Save the DataFrame to an Excel file
df.to_csv(file_path, index=False)

print(f"Excel file saved successfully at '{file_path}'")

Excel file saved successfully at 'PV_Live_new.csv'